alembic==1.14.0+computecanada
cloudpickle==3.1.1+computecanada
colorlog==6.9.0+computecanada
contourpy==1.3.1+computecanada
cycler==0.12.1+computecanada
et_xmlfile==2.0.0+computecanada
fonttools==4.56.0+computecanada
greenlet==3.1.1+computecanada
joblib==1.5.1+computecanada
kiwisolver==1.4.8+computecanada
llvmlite==0.44.0+computecanada
mako==1.3.10+computecanada
markdown_it_py==3.0.0+computecanada
MarkupSafe==2.1.5+computecanada
matplotlib==3.10.0+computecanada
mdurl==0.1.2+computecanada
numba==0.61.0+computecanada
numpy==2.1.1+computecanada
openpyxl==3.1.5+computecanada
optuna==4.1.0+computecanada
packaging==25.0+computecanada
pandas==2.2.3+computecanada
pillow==11.0.0+computecanada
pygments==2.19.2+computecanada
pyparsing==3.2.3+computecanada
python_dateutil==2.9.0.post0+computecanada
pytz==2025.2+computecanada
PyYAML==6.0.2+computecanada
rich==13.9.4+computecanada
scikit_learn==1.5.2+computecanada
scipy==1.14.1+computecanada
seaborn==0.13.2+computecanada
shap==0.46.0+computecanada
six==1.17.0+computecanada
slicer==0.0.8+computecanada
SQLAlchemy==2.0.35+computecanada
threadpoolctl==3.6.0+computecanada
tqdm==4.67.1+computecanada
typing_extensions==4.14.0+computecanada
tzdata==2025.2+computecanada
xgboost==2.1.1+computecanada
